{% extends 'base.html.twig' %}

{% block title %}{{ 'shoppingList.list.title'|trans }} - {{ parent() }}{% endblock %}
{% block navTitle 'shoppingList.list.title'|trans %}
{% block body %}
    <div class="section mt-2">
        <div class="goals">
            {% for shoppingList in shoppingLists %}
                <div class="item">
                    <div class="in">
                        <a class="shopping" href="{{ path('app_shoppinglist_detail', {uuid: shoppingList.uuid }) }}">
                            <div>
                                <h4>{{ shoppingList.name }}</h4>
                                <p>
                                    <ion-icon name="people-outline" role="img" class="md hydrated" aria-label="people outline"></ion-icon>
                                    Hélène, Corinne, +2
                                </p>
                            </div>
                        </a>
                        <div class="dropdown">
                            <button class="btn btn-transparent btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item edit" href="{{ path('app_shoppinglist_save', {uuid: shoppingList.uuid }) }}">
                                    <ion-icon name="pencil-outline"></ion-icon>
                                    {{ 'shoppingList.list.rename'|trans }}
                                </a>
                                <a class="dropdown-item" href="#">
                                    <ion-icon name="copy-outline"></ion-icon>
                                    {{ 'shoppingList.list.duplicate'|trans }}
                                </a>
                                <a class="dropdown-item" href="#">
                                    <ion-icon name="person-add-outline"></ion-icon>
                                    {{ 'shoppingList.list.share'|trans }}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <ion-icon name="trash-outline"></ion-icon>
                                    {{ 'shoppingList.list.delete'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;">20 / 30</div>
                    </div>
                </div>
            {% endfor %}
            <a class="btn btn-primary rounded shadowed me-1 btn-fixed" href="{{ path('app_shoppinglist_save') }}">
                <ion-icon name="add-outline" role="img" class="md hydrated" aria-label="add outline"></ion-icon>
                {{ 'shoppingList.list.add'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
