{% extends 'base.html.twig' %}

{% block title %}{{ 'shoppingList.list.title'|trans }} - {{ parent() }}{% endblock %}
{% block navTitle 'shoppingList.list.title'|trans %}

{% block body %}
    <div class="section mt-2">
        {% include 'shoppingList/_items.html.twig' with { shoppingLists } only %}
        <a class="btn btn-primary rounded shadowed me-1 btn-fixed btn-lg" href="{{ path('app_shoppinglist_save') }}">
            <i class="fas fa-plus pr-2"></i> {{ 'shoppingList.add'|trans }}
        </a>
        {% if shoppingLists|length == 0 %}
            <div class="section mt-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fas fa-shopping-cart"></i></h5>
                        <p class="card-text">{{ 'shoppingList.how_it_works'|trans|raw }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
