{% extends 'base.html.twig' %}

{% set title = shoppingList
    ? 'shoppingList.edit.title'|trans({'%name%': shoppingList.name|length > 15  ? shoppingList.name|slice(0, 15) ~ '...' : shoppingList.name})
    : 'shoppingList.add.title'|trans
%}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}
{% block navTitle title %}
{% block navLeft %}
    <a href="{{ path('app_shoppinglists') }}" class="headerButton">
        <i class="fas fa-chevron-left"></i>
    </a>
{% endblock %}

{% block body %}
    <div class="section mt-2">
        {{ form_start(form) }}
            <div class="card">
                <div class="card-body">
                    {{ form_row(form.name)}}
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary btn-block btn-lg">{{ 'common.submit'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
