{% extends 'base.html.twig' %}

{% set title = shoppingList.name|u.truncate(20, '...', true) %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}
{% block navTitle title %}
{% block navLeft %}
    <a href="{{ path('app_shoppinglists') }}" class="headerButton">
        <i class="fas fa-chevron-left"></i>
    </a>
{% endblock %}

{% block body %}
    <div class="section mt-2">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">
                    <i class="fas fa-carrot"></i>
                </h5>
                <p class="card-text">{{ 'shoppingList.detail.how_it_works'|trans|raw }}</p>
            </div>
        </div>
        <a class="btn btn-primary rounded shadowed me-1 btn-lg btn-fixed" href="{{ path('app_shoppingitems_add', { uuid: shoppingList.uuid }) }}">
            <i class="fas fa-plus pr-2"></i> {{ 'shoppingList.detail.add'|trans }}
        </a>
    </div>
{% endblock %}
