{% if suggestions|filter(suggestion => suggestion.name|lower == search|lower)|length == 0 %}
    <li role="option" data-autocomplete-value="{{ search|capitalize }}">
        <div class="item">
            <div class="icon-box bg-primary">
                <i class="fas fa-plus"></i>
            </div>
            <div class="in">
                <div><em>{{ search|capitalize }}</em></div>
            </div>
        </div>
    </li>
{% endif %}
{% for suggestion in suggestions %}
    <li role="option" data-autocomplete-value="{{ ({name: suggestion.name, category: suggestion.category.id})|json_encode }}">
        <div class="item">
            <div class="icon-box bg-success">
                <i class="fas fa-plus"></i>
            </div>
            <div class="in">
                <div>
                    {{ suggestion._formatted.name|raw }}
                    <footer>{{ suggestion.category.name }}</footer>
                </div>
                <div>
                    3 <i class="fas fa-minus"></i>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
